
.profile-banner {
  background-color: var(--primary-color);
  height: 200px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-info {
  position: absolute;
  bottom: -70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-avt-img {
  width: 80px;
  height: 80px;
}
.profile-detail {
  margin: 130px 48px 0px;
  display: flex;
  justify-content: space-between;
  font-family: inherit;
  align-items: center;
  
}

.profile__form{
  display: flex;
  flex-direction: column;
}
.profile-detail__value {
  width: 300px;
  height: max-content;
  min-height: 45px;
  border: 1px solid;
  border-radius: 4px;
  border-color: var(--primary-border-color);
  text-align: center;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 16px;
  font-family: inherit;
}
.profile-info__username {
  font-size: 24px;
  font-weight: 600;
  color: var(--text-in-primary-color);
  font-family: inherit;
}

.profile-detail__title{
  margin: 8px 0px;
  font-weight: 500;
  color: var(--primary-color);
}
.profile-detail__value{
  color: var(--text-in-primary-color);
}
.profile__editBtn_wrapper{
  position: absolute;
  right: 0;
  display: flex;
  bottom: -50px;
}
.profile__editBtn{
  width: 50px;
  margin-right: 12px;
}
.profile__editBtn__icon{
  color: var(--white-color);
}
.modal__input{
margin-bottom: 16px;
height: 45px;
}

/* MODAL */
.modal__title{
  text-align: center;
}
/* Tablet */
/* @media (min-width: 740px) and (max-width : 1023px) */
@media (min-width: 46.25em) and (max-width : 63.9375em)
{
  .profile-detail{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .profile-detail__value{
    width: 230px;
    height: max-content;
    min-height: 45px;
    margin-right: 8px;
    margin-left: 8px;
  }
   
}

/* @media (max-width : 739px) */
@media (max-width : 46.1875em)
{
  .profile-detail{
    flex-direction: column;
  }
   
}