.header {
    height: 60px;
    display: flex;
    font-family: inherit;
    background-color: var(--bg-color);
    align-items: center;
    justify-content: center;
  

}

.header__logo-link {
    height: 70px;
}

.header__logo {
    width: auto;
    height: 100%;
    min-height: 60px;
}

.header__menu {
    flex: 1;
    font-family: inherit;
    background-color: transparent;
    font-size: 16px;
    font-weight: 400;

}
:where(.css-dev-only-do-not-override-1me4733).ant-menu-light.ant-menu-horizontal>.ant-menu-item-selected,
:where(.css-dev-only-do-not-override-1me4733).ant-menu-light.ant-menu-horizontal>.ant-menu-submenu-selected {
    color: var(--primary-color);
    background-color: transparent;
}

/* Thanh ben duoi */
:where(.css-dev-only-do-not-override-1me4733).ant-menu-light.ant-menu-horizontal>.ant-menu-item-selected::after,
:where(.css-dev-only-do-not-override-1me4733).ant-menu-light.ant-menu-horizontal>.ant-menu-submenu-selected::after {
    border-bottom-width: 2px;
    border-bottom-color: var(--primary-color);
}

:where(.css-dev-only-do-not-override-1me4733).ant-menu-light.ant-menu-horizontal>.ant-menu-item:hover:after,
:where(.css-dev-only-do-not-override-1me4733).ant-menu-light.ant-menu-horizontal>.ant-menu-submenu-selected::after {
    border-bottom-width: 2px;
    border-bottom-color: var(--primary-color);
}

:where(.css-dev-only-do-not-override-1me4733).ant-menu-light .ant-menu-item:hover:not(.ant-menu-item-selected):not(.ant-menu-submenu-selected), :where(.css-dev-only-do-not-override-1me4733).ant-menu-light .ant-menu-submenu-title:hover:not(.ant-menu-item-selected):not(.ant-menu-submenu-selected) {
    color: #FFF;
} 
:where(.css-dev-only-do-not-override-1me4733).ant-menu-light {
    color: #FFF;
}

.header-section__btn {
    width: 75px;
    height: 35px;
    margin-right: 16px;
    font-size: 16px;

}

/* PC */
/* @media (min-width : 1024px) */
@media (min-width : 64px)
{

}


/* Tablet */
/* @media (min-width: 740px) and (max-width : 1023px) */
@media (min-width: 46.25em) and (max-width : 63.9375em)
{

}

/* Mobile */
/* @media (max-width : 739px) */
@media (max-width : 46.1875em)
{
    .header__menu{
        display: none;
    }
    .header-section__search{
        display: none;
    } 
}