.user-section_addBtn{
    width: 100px;
    height: 35px;
    padding: 0 4px;
    margin-right: 16px;
}
.user-section_notify{
    position: relative;
    top: 3px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    margin-right: 16px;
    padding: 0px 6px;
    
}
.user-section_Wrapper{
    margin: 0;
}
.account-menu__user-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.user-section-modal__input{
    width: 450px;
}
.user-section-modal{
    display: flex;
 
}

:where(.css-dev-only-do-not-override-1me4733).ant-input:hover {
    border-color: #9543ff;
    border-inline-end-width: 1px;
}
:where(.css-dev-only-do-not-override-1me4733).ant-input:focus, :where(.css-dev-only-do-not-override-1me4733).ant-input-focused {
    border-color: #9543ff;
    box-shadow: 0 0 0 2px rgba(149, 67, 255, 0.1);
    border-inline-end-width: 1px;
    outline: 0;
}

:where(.css-dev-only-do-not-override-1me4733).ant-btn-default:not(:disabled):hover {
    color: #9543ff;
    border-color:#9543ff;
}