.idea-card{
    width: 300px;
    display: flex;
    flex-direction: row;
    margin-bottom: 32px;
    border: 1px solid var(--primary-color);
    padding: 16px;
    border-radius: 8px;
    font-family: inherit;
    color: var(--white-color);

}
.idea-card__author-avatar{
    width: 50px;
    height: 50px;

}
.idea-card__wrapper{
    display: flex;
    flex-direction: column;
    margin: 0 16px;
}
.idea-card__author-username{
    color: var(--primary-color);
    font-weight: 600;
    font-size: 16px;
    margin-right: 8px;
}

.idea-card__createAt{
    font-size: 12px;
    color: #a8a8a8;
}
.idea-card__content{
    font-size: 14px;
    margin: 4px 0px;
    line-height: 1.6rem;
    height: 4.8rem;
    overflow: hidden;
    /* display: block; */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    inline-size: 180px;
    overflow-wrap: break-word;
    
}
.idea-card__actionBtn {
    width: 80px;
    height: 30px;
    margin-right: 8px;  
}

.idea-card__actionBtn--count{
    margin-left: 4px;
}
.popover__content{
    display: flex;
    flex-direction: column;
    font-family: inherit;
    margin-left: 20px;
}
.popover__content--action{
    display: flex;
    justify-content: flex-end;
}
.popover__content--action-btn{
    background-color: var(--primary-color);
    border-radius: 8px;
    color: #FFF;
    padding: 8px;
    margin: 4px;
    border: 1px solid;
    font-family: inherit;
}