.banner-section{
    height: 340px;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #c49bfa;
    justify-content: center;
    align-items: center;
    font-family: inherit;
   
}
/* .bannner-section__search{
    width: 630px;
    height: 65px;
} */
.banner-section__info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 32px;
}
.banner-section__quotes{
    font-size: 28px;
    color: var(--primary-color);
    margin-bottom: 16px;
}
.banner-section__btn{
    width: 145px;
    height: 35px;
    margin-right: 16px;
    border-radius: 4px;
    font-family: inherit;
    font-size: 16px;
    text-align: center;
    color: var(--white-color);
    background-color: var(--primary-color);
    border: none;
    box-shadow: 1px;
    cursor: pointer;
}
.banner-section__btn:hover{
    top: 0.125em;
}


.banner-section__btn:hover{
    background-color: var(--primary-hover-color);
}
.banner-section__img{
    width: 400px;
  
}
.bannner-section__search{
    font-family: inherit;
}
:where(.css-dev-only-do-not-override-1me4733).ant-btn-primary {
    color: #fff;
    background-color: #D4B9FF;
    box-shadow: 0 2px 0 rgba(5, 145, 255, 0.1);
}
:where(.css-dev-only-do-not-override-1me4733).ant-btn-primary:not(:disabled):hover {
    color: #fff;
    background-color:#D4B9FF;
}
:where(.css-dev-only-do-not-override-1me4733).ant-input-search .ant-input:hover, :where(.css-dev-only-do-not-override-1me4733).ant-input-search .ant-input:focus {
    border-color: #D4B9FF;
}