.banner-section{
    height: 340px;
    width: 100%;
    display: flex;
    flex-direction: row;
    /* background-color: #c49bfa; */
    background-color: var(--primary-bland-color);
    justify-content: center;
    align-items: center;
    font-family: inherit;
   
}
/* .bannner-section__search{
    width: 630px;
    height: 65px;
} */
.banner-section__info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 32px;
}
.banner-section__quotes{
    font-size: 28px;
    color: var(--primary-color);
    margin-bottom: 16px;
}
.banner-section__btn{
    width: 145px;
    height: 35px;
    margin-right: 16px;
    border-radius: 4px;
    font-family: inherit;
    font-size: 16px;
    text-align: center;
    color: var(--white-color);
    background-color: var(--primary-color);
    border: none;
    box-shadow: 1px;
    cursor: pointer;
}
.banner-section__img{
    width: 400px;
    overflow: hidden;
}
.bannner-section__search{
    font-family: inherit;
}

/* @media (max-width : 739px) */
@media (max-width : 46.1875em)
{
    .banner-section__img{
        display: none;
    }
}