@import url('https://fonts.googleapis.com/css2?family=Noto+Rashi+Hebrew:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {
  background-color: #FFF;
  font-family: 'Noto Rashi Hebrew', serif;
  margin: 0;
  
 
}
 /* Reset CSS */
 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;

}

:root {
  --primary-color: #9543ff;
  --primary-hover-color: #6834ab;
  --white-color: #FFF;
  --black-color: #000;
  --text-color: #333;
  --border-color: #DBDBDB;
  /* --header-height: 120px;
  --navbar-height: 34px;
  --header-with-search-height: calc(var(--header-height) - var (--navbar-height)); */
}
.btn {
  border-radius: 4px;
  font-family: inherit;
   text-align: center;
  color: var(--white-color);
  background-color: var(--primary-color);
  border: none;
  box-shadow: 1px;
  cursor: pointer;
}

:where(.css-dev-only-do-not-override-1me4733).ant-btn-primary {
  color: #fff;
  background-color: var(--primary-color);
  box-shadow: 0 2px 0 rgba(5, 145, 255, 0.1);
}
:where(.css-dev-only-do-not-override-1me4733).ant-btn-primary:not(:disabled):hover {
  color: #fff;
  background-color:var(--primary-hover-color);
}
:where(.css-dev-only-do-not-override-1me4733).ant-input-search .ant-input:hover, :where(.css-dev-only-do-not-override-1me4733).ant-input-search .ant-input:focus {
  border-color: #D4B9FF;
};

